@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #1db954; /* Spotify Green */
  --color-primary-hover: #1ed760;
  --color-background: #121212;
  --color-surface: #181818;
  --color-surface-hover: #282828;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 6px;
  border: 3px solid var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

.glass-panel {
  background: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(10px);
}